<!DOCTYPE HTML>
<html ng-app="insightIQ">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Insight IQ Challenge</title>
		<link rel="stylesheet" type="text/css" href="css/quiz.css">
	</head>
	<body>

		<div id="insightIQ" ng-controller="QuizController">

			<div class="btn"><a href="http://vame-insight.vestas.com">Return to Insight</a></div>

			<h1>Take the challenge: <span>Insight IQ</span></h1>
			
			<div class="progress">
				<div
					class="{{ ($index === activeQuestion) ? 'on' : 'off' }}
					{{ (quizQuestion.questionState === 'answered') ? 'answered' : 'unanswered' }}
					{{ (quizQuestion.correctness === 'correct') ? 'correct' : 'incorrect' }}"
					ng-repeat="quizQuestion in quizQuestions">
				</div>
			</div>

			<div class="intro {{ (activeQuestion > -1) ? 'inactive' : 'active' }}">
				<h2>Welcome</h2>
				<p>Click start to test your knowledge of Insight.</p>
				<p class="btn" ng-click="activeQuestion = 0">Start</p>
			</div>

			<div class="question
				{{ ( $index === activeQuestion) ? 'active' : 'inactive' }}
				{{ ( quizQuestion.questionState === 'answered') ? 'answered' : 'unanswered' }}"
				ng-repeat="quizQuestion in quizQuestions">
			
				<p>{{questionState}}</p>
				<p class="txt">{{quizQuestion.question}}</p>
				<p class="ans"
					ng-repeat="Answer in quizQuestions[$index].answers"
					ng-click="selectAnswer($parent.$index,$index)"
					ng-class="{ 'image' : Answer.image,
						selected:isSelected($parent.$index,$index),
						correct:isCorrect($parent.$index,$index)}"
					ng-style="{'background-image':'url({{Answer.image}})'}"
					>{{Answer.text}}</p>

				<div class="feedback">
					<p ng-show="quizQuestion.correctness == 'correct'">You are <strong>correct</strong>.</p>
					<p ng-show="quizQuestion.correctness == 'incorrect'">Oops! that is not correct.</p>
					<p>{{quizQuestion.feedback}}</p>
					<div class="btn" ng-click="selectContinue()">Continue</div>
				</div>

			</div>

			<div class="results {{ (totalQuestions === activeQuestion) ? 'active' : 'inactive' }}">
				<h3>Your results:</h3>
				<p>You scored {{percentage}}% by correctly answering {{score}} of the total {{totalQuestions}} questions.</p>
				<p>Use the links below to challenge your friends.</p>
				<div class="share" ng-bind-html="createShareLinks(percentage)">s</div>
			</div>

		</div>

		<script type="text/javascript" src="js/angular.min.js"></script>
		<script type="text/javascript" src="js/quiz.js"></script>
	</body>
</html>